@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Fonts */
  --font-heading: "Cormorant Garamond", serif;
  --font-body: "Inter", sans-serif;

  /* Farver */
  --color-primary: #7C632F;
  --color-text: #5F5F5F;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #1F1F1F;
  --color-mute: #cccccc;
}

/* Grundopsætning */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-white);
  color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-heading);
  font-weight: 400;
}